<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>XO</title>
<link th:href="@{/css/bootstrap.4.1.1.min.css}" rel="stylesheet" />
<link th:href="@{/css/xo/main.css}" rel="stylesheet" />
<link th:href="@{/css/font-awesome/font-awesome.4.7.0.css}" type="text/css" rel="stylesheet" />
<script th:src="@{/js/jquery-2.2.4.min.js}"></script>
<script th:src="@{/js/xo/SockJS.js}"></script>
<script th:src="@{/js/xo/StormJS.js}"></script>
</head>

<body>
	<div id="wrapper" class="container">
		<input type="hidden" th:value="${playerId}" id="playerId" /> <input
			type="hidden" th:value="${size}" id="size" />

		<div class="row">
			<div class="col-lg-6">
				<h5 id="message">Connecting...</h5>
				<table id="board"></table>
			</div>
			<div id="chatContainer" class="container col-lg-6">
				<h5 class="text-center">Room 1</h5>
				<div class="messaging">
					<div class="inbox_msg">

						<div class="mesgs">
							<div class="msg_history">
								<div class="incoming_msg">
									<div class="incoming_msg_img">
										<img src="https://ptetutorials.com/images/user-profile.png"
											alt="sunil">
									</div>
									<div class="received_msg">
										<div class="received_withd_msg">
											<p>Test which is a new approach to have all solutions</p>
											<span class="time_date"> 11:01 AM | June 9</span>
										</div>
									</div>
								</div>
								<div class="outgoing_msg">
									<div class="sent_msg">
										<p>Test which is a new approach to have all solutions</p>
										<span class="time_date"> 11:01 AM | June 9</span>
									</div>
								</div>
								<div class="incoming_msg">
									<div class="incoming_msg_img">
										<img src="https://ptetutorials.com/images/user-profile.png"
											alt="sunil">
									</div>
									<div class="received_msg">
										<div class="received_withd_msg">
											<p>Test, which is a new approach to have</p>
											<span class="time_date"> 11:01 AM | Yesterday</span>
										</div>
									</div>
								</div>
								<div class="outgoing_msg">
									<div class="sent_msg">
										<p>Apollo University, Delhi, India Test</p>
										<span class="time_date"> 11:01 AM | Today</span>
									</div>
								</div>
								<div class="incoming_msg">
									<div class="incoming_msg_img">
										<img src="https://ptetutorials.com/images/user-profile.png"
											alt="sunil">
									</div>
									<div class="received_msg">
										<div class="received_withd_msg">
											<p>We work directly with our designers and suppliers, and
												sell direct to you, which means quality, exclusive products,
												at a price anyone can afford.</p>
											<span class="time_date"> 11:01 AM | Today</span>
										</div>
									</div>
								</div>
								<div class="incoming_msg">
									<div class="incoming_msg_img">
										<img src="https://ptetutorials.com/images/user-profile.png"
											alt="sunil">
									</div>
									<div class="received_msg">
										<div class="received_withd_msg">
											<p>We work directly with our designers and suppliers, and
												sell direct to you, which means quality, exclusive products,
												at a price anyone can afford.</p>
											<span class="time_date"> 11:01 AM | Today</span>
										</div>
									</div>
								</div>
								<div class="incoming_msg">
									<div class="incoming_msg_img">
										<img src="https://ptetutorials.com/images/user-profile.png"
											alt="sunil">
									</div>
									<div class="received_msg">
										<div class="received_withd_msg">
											<p>We work directly with our designers and suppliers, and
												sell direct to you, which means quality, exclusive products,
												at a price anyone can afford.</p>
											<span class="time_date"> 11:01 AM | Today</span>
										</div>
									</div>
								</div>
								<div class="incoming_msg">
									<div class="incoming_msg_img">
										<img src="https://ptetutorials.com/images/user-profile.png"
											alt="sunil">
									</div>
									<div class="received_msg">
										<div class="received_withd_msg">
											<p>We work directly with our designers and suppliers, and
												sell direct to you, which means quality, exclusive products,
												at a price anyone can afford.</p>
											<span class="time_date"> 11:01 AM | Today</span>
										</div>
									</div>
								</div>
								<div class="incoming_msg">
									<div class="incoming_msg_img">
										<img src="https://ptetutorials.com/images/user-profile.png"
											alt="sunil">
									</div>
									<div class="received_msg">
										<div class="received_withd_msg">
											<p>We work directly with our designers and suppliers, and
												sell direct to you, which means quality, exclusive products,
												at a price anyone can afford.</p>
											<span class="time_date"> 11:01 AM | Today</span>
										</div>
									</div>
								</div>
								<div class="incoming_msg">
									<div class="incoming_msg_img">
										<img src="https://ptetutorials.com/images/user-profile.png"
											alt="sunil">
									</div>
									<div class="received_msg">
										<div class="received_withd_msg">
											<p>We work directly with our designers and suppliers, and
												sell direct to you, which means quality, exclusive products,
												at a price anyone can afford.</p>
											<span class="time_date"> 11:01 AM | Today</span>
										</div>
									</div>
								</div>
								<div class="incoming_msg">
									<div class="incoming_msg_img">
										<img src="https://ptetutorials.com/images/user-profile.png"
											alt="sunil">
									</div>
									<div class="received_msg">
										<div class="received_withd_msg">
											<p>We work directly with our designers and suppliers, and
												sell direct to you, which means quality, exclusive products,
												at a price anyone can afford.</p>
											<span class="time_date"> 11:01 AM | Today</span>
										</div>
									</div>
								</div>
							</div>
							<div class="type_msg">
								<div class="input_msg_write">
									<input type="text" class="write_msg"
										placeholder="Type a message" />
									<button class="msg_send_btn" type="button">
										<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/js/xo/main.js}"></script>
</body>
</html>